<% provide(:title, 'Add Question') %>
<h1>Edit Question</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for(@question) do |f| %>
    
    <%= f.label :ftype %>
    <%= f.text_field :ftype, class: 'form-control' %>

    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control' %>

    <%= f.label :asset %>
    <%= f.text_field :asset, class: 'form-control' %>
    <%= f.label :option1 %>
    <%= f.text_field :option1, class: 'form-control' %>

    <%= f.label :option2 %>
    <%= f.text_field :option2, class: 'form-control' %>

    <%= f.label :option3 %>
    <%= f.text_field :option3, class: 'form-control' %>

    <%= f.label :option4 %>
    <%= f.text_field :option4, class: 'form-control' %>

    <%= f.label :answer %>
    <%= f.text_field :answer, class: 'form-control' %>

    <%= f.label :Quizz %>
    <select name = "question[quizz_id]" id = "question_quizz_id" class = "form-control">
      <% @quizzs.each do |quizz| %>
      <option value = "<%= quizz.id %>">
        <%= quizz.name %>
      </option>
      <% end %>
    </select>

    <!-- <input id="question_type" name="accept" type="checkbox" value="1" /> -->

    <%= f.label :Type %>
    <select name = "question[qtype]" id = "question_qtype" class = "form-control">
      <option value = "t">Multiple​ ​ choice​ ​ Multiple​ ​ Correct​</option>
      <option value = "f">Multiple​ ​ choice​ ​ Single​ ​ Correct</option>
    </select>

    <%= f.submit "Update Question", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
