<% provide(:title, 'Question') %>

<br/><br/>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<td><%= @question.body %></td>
		<td><%= @question.option1 %></td>
		<td><%= @question.option2 %></td>
		<td><%= @question.option3 %></td>
		<td><%= @question.option4 %></td>
		
	</div>
</div>